<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#007bff">
    <meta
      name="description"
      content="PetesList-A platform that allows you to take ownership of your future."
    />
    <meta name="author" content="Peteslist team" />
    <meta
      name="keywords"
      content="PetesList,job opportunities,talent pool,hiring in kenya"
    />
    <link rel="shortcut icon" href="images/favicon.png" />
    <title>
      PetesList-A platform which allows you to take ownership of your future.
    </title>
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="main.css" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
</head>
<body>
<section class="navbar">
    <div class="logo">
        P
    </div>
    <div class="name">PetesList</div>
</section>
    
