.navbar {
  width: 100%;
  min-height: 10vh;
  background-color: $primary;
  color: $light;
  padding: $mainPadding;
  display: flex;
  flex-direction: column;
  align-items: left;

  .logo {
    font-size: 4rem;
    font-weight: 800;
    //width: 0%;
  }
  .name {
    font-size: 2rem;
    font-weight: 400;
    //width: 50%;
  }
}
.header {
  padding: $mainPadding;
  text-align: center;
  width: 100vw;
  font-size: 2rem;
  font-size: 3rem;
  text-decoration: underline;
  color: $dark;
}
.terms-container {
  width: 100vw;
  padding: $mainPadding;
  ul {
    li {
      font-size: 2rem;
      list-style: decimal;
      margin-top: 1rem;
    }
  }
}

.admin-panel {
  padding: $mainPadding;
  margin-bottom: 2rem;
  .add-form {
    h1{
      font-size: 2rem;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    input {
     @include inputStyles;
    }
    button {
    
      background-color: $primary;
      @include formButtonStyle;
    }
    button:hover {
      opacity: 0.8;
    }
  }
  .remove-form {
    h1{
      font-size: 2rem;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    input {
      @include inputStyles;
    }
    button {
      background-color: $danger;
     @include formButtonStyle;
    }
    button:hover {
      opacity: 0.8;
    }
  }
}
.auth {
  padding: $mainPadding;
  .auth-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    input {
      @include inputStyles;
    }
    button {
      @include formButtonStyle;
      background-color: $primary;
      
    }
    button:hover {
      opacity: 0.8;
    }
  }
}

.footer {
  font-size: 2rem;
  width: 100vw;
  background-color: $primary;
  color: $light;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
}
